In [205]:
import pandas as pd
import numpy as np

In [206]:
# Read the file WITHOUT headers first
df_raw_all_od_deaths = pd.read_excel("drugoverdosedeaths.xlsx", sheet_name="all_od_deaths", header=None)
df_raw_all_od_deaths

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,"Sex, age, race, and Hispanic origin",All drug overdose deaths\1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2018\n(single race)
2,All persons,"Deaths per 100,000 resident population",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"All ages, age adjusted\2",6.1,6.2,6.8,8.2,8.9,9.4,10.1,11.5,11.9,...,12.3,13.2,13.1,13.8,14.7,16.3,19.8,21.7,- - -,20.7
4,"All ages, crude",6,6.2,6.8,8.2,8.9,9.4,10.1,11.5,12,...,12.4,13.3,13.2,13.9,14.8,16.3,19.7,21.6,- - -,20.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,"Black or African American, not Hispanic or Lat...",4,4.2,4.4,5.1,5.4,5.6,6.2,6.5,6.5,...,5.9,6.2,6.2,6.5,7.3,7.7,10.4,11.7,11.6,11.6
59,"American Indian or Alaska Native, not Hispanic...",5.2,4.3,6.5,7.1,9.4,10.4,11.3,10.6,13.8,...,14.8,15.9,17.6,17.5,16.9,16.8,20.2,20.1,20.2,20.7
60,"Asian or Pacific Islander, not Hispanic or Lat...",1,0.8,0.8,1,1.2,1.1,1.3,1.5,1.5,...,1.4,1.6,1.4,1.5,1.6,1.5,1.7,1.9,2.1,…
61,"Asian, not Hispanic or Latina\3,\4",…,…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,1.8
62,"Native Hawaiian or Other Pacific Islander, not...",…,…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,*

In [207]:
# create a function to extract data from the spreadsheet
def extract_data(df_raw, 
                 years, 
                 data_label, 
                 start_row, 
                 end_row, 
                 start_col, 
                 end_col, 
                 attr_label, 
                 attr_row, 
                 attr_col):
    # Extract data from column 1, starting at start_row to end_row
    data_groups = df_raw.iloc[start_row:end_row, 0].tolist()
    # remove footnotes, if any
    data_groups = [x.split("\\")[0] for x in data_groups]

    # Extract the numeric matrix (start_row onward, start_col onward)
    values = df_raw.iloc[start_row:end_row, start_col:end_col]

    # Extract Label as a value
    attr = df_raw.iloc[attr_row:attr_row+1, attr_col:attr_col+1]
    attr_val = attr.iloc[0][0]
    # clean ":" from the string, if any
    attr_val = attr_val.replace(":", "")

    # Build the DataFrame
    df = pd.DataFrame(values.values, columns=years)

    # Add data_label as a column
    df.insert(0, data_label, data_groups)

    # Add sex as a column
    df.insert(0, attr_label, attr_val)
    return df

In [209]:
# Extract year headers from row 4 (index 1), starting from column 1:21
years = df_raw_all_od_deaths.iloc[1, 1:21].tolist()
years

[1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [210]:
# extract age-groups
df_age1 = extract_data(df_raw_all_od_deaths, years, 'age_group', 5, 14, 1, 21, 'sex', 2, 0)
df_age1.head(15)

,sex,age_group,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,All persons,Under 15 years,0.1,0.1,0.2,0.2,0.2,0.2,0.2,0.2,...,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,- - -
1,All persons,15–24 years,3.2,3.7,4.2,5.1,6,6.6,6.9,8.1,...,7.7,8.2,8.6,8,8.3,8.6,9.7,12.4,12.6,- - -
2,All persons,25–34 years,8.1,7.9,8.6,10.5,11.4,11.9,13.6,16.1,...,17.2,18.4,20.2,20.1,20.9,23.1,26.9,34.6,38.4,- - -
3,All persons,35–44 years,14,14.3,15.5,18.1,18.9,19.3,19.6,21.7,...,20.5,20.8,22.5,22.1,23,25,28.3,35,39,- - -
4,All persons,45–54 years,11.1,11.6,13,16.2,17.9,19.3,21.1,24.1,...,25.4,25.1,26.7,26.9,27.5,28.2,30,34.5,37.7,- - -
5,All persons,55–64 years,4.2,4.2,4.7,6,6.9,7.8,9,10.5,...,13.7,15,15.9,16.6,19.2,20.3,21.8,25.6,28,- - -
6,All persons,65–74 years,2.4,2,2.4,2.8,2.9,2.9,3.2,3.5,...,4.7,4.7,5.4,5.8,6.4,6.9,7.2,8.2,9.2,- - -
7,All persons,75–84 years,2.8,2.4,2.5,2.8,2.7,2.9,3.1,3.3,...,3.8,3.4,3.4,3.4,3.6,3.6,3.6,3.4,3.6,- - -
8,All persons,85 years and over,3.8,4.4,3.7,4.4,4.1,4,4.1,4.4,...,4.4,4.7,4.2,4.3,4.3,4.1,4.4,4,4,- - -

In [211]:
# extract age-groups
df_age2 = extract_data(df_raw_all_od_deaths, years, 'age_group', 17, 26, 1, 21, 'sex', 14, 0)
df_age2.head(15)

,sex,age_group,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Male,Under 15 years,0.1,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.2,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2,- - -
1,Male,15–24 years,4.5,5.3,6.1,7.3,8.8,9.6,10,12,...,11.3,11.6,12.4,11.4,11.7,12.1,13.3,17.5,17.1,- - -
2,Male,25–34 years,11.5,11.3,12,14.7,15.7,16.6,18.7,22.7,...,24,25,27.5,27,28.6,31.9,37.9,48.9,54.3,- - -
3,Male,35–44 years,19.2,19.5,20.6,23.4,24.3,23.8,24.4,27.5,...,25.2,24.9,26.8,27.1,28.1,30.8,36.3,46.9,53,- - -
4,Male,45–54 years,15.2,15.7,17,20.3,22.6,23.8,25.8,29.7,...,29.1,28.5,30.4,30.4,31.5,32.9,35.3,42.5,48.3,- - -
5,Male,55–64 years,4.9,4.4,5.3,6.8,7.8,8.6,10.6,12.3,...,16,17.3,18.5,19.4,22.7,23.5,26.2,32.2,36.2,- - -
6,Male,65–74 years,2.7,2.1,2.7,2.8,2.9,2.9,3.3,3.5,...,4.8,4.5,5.4,6.2,6.9,7.3,8.5,10,11.8,- - -
7,Male,75–84 years,2.5,2.5,2.6,3.1,2.9,2.8,3.4,3.2,...,3.5,3.6,3.4,3.2,3.7,3.8,3.9,3.7,3.7,- - -
8,Male,85 years and over,4.4,5.9,3.6,5.7,4.8,4.8,5.2,4.7,...,5.2,5.1,4.3,5.3,5.9,4.3,5,4.6,4.5,- - -

In [212]:
# extract age-groups
df_age3 = extract_data(df_raw_all_od_deaths, years, 'age_group', 29, 38, 1, 21, 'sex', 26, 0)
df_age3.head(15)

,sex,age_group,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Female,Under 15 years,0.1,0.1,0.1,0.2,0.1,0.2,0.2,0.2,...,0.2,0.2,0.2,0.2,0.2,0.2,0.3,0.2,0.3,- - -
1,Female,15–24 years,1.8,1.9,2.2,2.8,3.1,3.3,3.5,3.9,...,4.1,4.6,4.6,4.4,4.8,5,5.9,7,7.9,- - -
2,Female,25–34 years,4.6,4.6,5.2,6.2,7.1,7.2,8.5,9.5,...,10.4,11.9,12.8,13.1,13,14.1,15.7,19.9,22,- - -
3,Female,35–44 years,8.7,9.2,10.4,12.8,13.7,14.8,14.8,15.9,...,16,16.8,18.2,17.1,18,19.2,20.5,23.3,25.1,- - -
4,Female,45–54 years,7.2,7.7,9.1,12.2,13.5,15,16.5,18.6,...,21.8,21.8,23.1,23.4,23.6,23.7,24.9,26.7,27.5,- - -
5,Female,55–64 years,3.5,3.9,4.2,5.2,6.1,7,7.5,8.8,...,11.6,12.9,13.5,14,15.9,17.2,17.6,19.5,20.3,- - -
6,Female,65–74 years,2.1,2,2.2,2.8,2.9,3,3.1,3.6,...,4.6,4.8,5.3,5.5,5.9,6.5,6.1,6.5,7,- - -
7,Female,75–84 years,3,2.3,2.4,2.6,2.6,2.9,2.9,3.3,...,3.9,3.3,3.4,3.5,3.4,3.5,3.3,3.2,3.5,- - -
8,Female,85 years and over,3.5,3.9,3.7,3.9,3.8,3.7,3.7,4.2,...,3.9,4.5,4.2,3.8,3.5,4,4.1,3.6,3.8,- - -

In [213]:
df_age = pd.concat([df_age1, df_age2, df_age3], ignore_index=True)
df_age

,sex,age_group,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,All persons,Under 15 years,0.1,0.1,0.2,0.2,0.2,0.2,0.2,0.2,...,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,- - -
1,All persons,15–24 years,3.2,3.7,4.2,5.1,6,6.6,6.9,8.1,...,7.7,8.2,8.6,8,8.3,8.6,9.7,12.4,12.6,- - -
2,All persons,25–34 years,8.1,7.9,8.6,10.5,11.4,11.9,13.6,16.1,...,17.2,18.4,20.2,20.1,20.9,23.1,26.9,34.6,38.4,- - -
3,All persons,35–44 years,14,14.3,15.5,18.1,18.9,19.3,19.6,21.7,...,20.5,20.8,22.5,22.1,23,25,28.3,35,39,- - -
4,All persons,45–54 years,11.1,11.6,13,16.2,17.9,19.3,21.1,24.1,...,25.4,25.1,26.7,26.9,27.5,28.2,30,34.5,37.7,- - -
5,All persons,55–64 years,4.2,4.2,4.7,6,6.9,7.8,9,10.5,...,13.7,15,15.9,16.6,19.2,20.3,21.8,25.6,28,- - -
6,All persons,65–74 years,2.4,2,2.4,2.8,2.9,2.9,3.2,3.5,...,4.7,4.7,5.4,5.8,6.4,6.9,7.2,8.2,9.2,- - -
7,All persons,75–84 years,2.8,2.4,2.5,2.8,2.7,2.9,3.1,3.3,...,3.8,3.4,3.4,3.4,3.6,3.6,3.6,3.4,3.6,- - -
8,All persons,85 years and over,3.8,4.4,3.7,4.4,4.1,4,4.1,4.4,...,4.4,4.7,4.2,4.3,4.3,4.1,4.4,4,4,- - -
9,Male,Under 15 years,0.1,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.2,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2,- - -
10,Male,15–24 years,4.5,5.3,6.1,7.3,8.8,9.6,10,12,...,11.3,11.6,12.4,11.4,11.7,12.1,13.3,17.5,17.1,- - -
11,Male,25–34 years,11.5,11.3,12,14.7,15.7,16.6,18.7,22.7,...,24,25,27.5,27,28.6,31.9,37.9,48.9,54.3,- - -
12,Male,35–44 years,19.2,19.5,20.6,23.4,24.3,23.8,24.4,27.5,...,25.2,24.9,26.8,27.1,28.1,30.8,36.3,46.9,53,- - -
13,Male,45–54 years,15.2,15.7,17,20.3,22.6,23.8,25.8,29.7,...,29.1,28.5,30.4,30.4,31.5,32.9,35.3,42.5,48.3,- - -
14,Male,55–64 years,4.9,4.4,5.3,6.8,7.8,8.6,10.6,12.3,...,16,17.3,18.5,19.4,22.7,23.5,26.2,32.2,36.2,- - -
15,Male,65–74 years,2.7,2.1,2.7,2.8,2.9,2.9,3.3,3.5,...,4.8,4.5,5.4,6.2,6.9,7.3,8.5,10,11.8,- - -
16,Male,75–84 years,2.5,2.5,2.6,3.1,2.9,2.8,3.4,3.2,...,3.5,3.6,3.4,3.2,3.7,3.8,3.9,3.7,3.7,- - -
17,Male,85 years and over,4.4,5.9,3.6,5.7,4.8,4.8,5.2,4.7,...,5.2,5.1,4.3,5.3,5.9,4.3,5,4.6,4.5,- - -
18,Female,Under 15 years,0.1,0.1,0.1,0.2,0.1,0.2,0.2,0.2,...,0.2,0.2,0.2,0.2,0.2,0.2,0.3,0.2,0.3,- - -
19,Female,15–24 years,1.8,1.9,2.2,2.8,3.1,3.3,3.5,3.9,...,4.1,4.6,4.6,4.4,4.8,5,5.9,7,7.9,- - -
20,Female,25–34 years,4.6,4.6,5.2,6.2,7.1,7.2,8.5,9.5,...,10.4,11.9,12.8,13.1,13,14.1,15.7,19.9,22,- - -
21,Female,35–44 years,8.7,9.2,10.4,12.8,13.7,14.8,14.8,15.9,...,16,16.8,18.2,17.1,18,19.2,20.5,23.3,25.1,- - -
22,Female,45–54 years,7.2,7.7,9.1,12.2,13.5,15,16.5,18.6,...,21.8,21.8,23.1,23.4,23.6,23.7,24.9,26.7,27.5,- - -
23,Female,55–64 years,3.5,3.9,4.2,5.2,6.1,7,7.5,8.8,...,11.6,12.9,13.5,14,15.9,17.2,17.6,19.5,20.3,- - -
24,Female,65–74 years,2.1,2,2.2,2.8,2.9,3,3.1,3.6,...,4.6,4.8,5.3,5.5,5.9,6.5,6.1,6.5,7,- - -
25,Female,75–84 years,3,2.3,2.4,2.6,2.6,2.9,2.9,3.3,...,3.9,3.3,3.4,3.5,3.4,3.5,3.3,3.2,3.5,- - -
26,Female,85 years and over,3.5,3.9,3.7,3.9,3.8,3.7,3.7,4.2,...,3.9,4.5,4.2,3.8,3.5,4,4.1,3.6,3.8,- - -

In [214]:
# extract race
df_race1 = extract_data(df_raw_all_od_deaths, years, 'race', 40, 51, 1, 21, 'sex', 39, 0)
df_race1.head(15)

,sex,race,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Male,White,8.1,8.4,9.2,11.1,12.2,12.6,13.6,15.7,...,16.4,16.8,18.1,18.1,19,20.4,23.2,28.8,31.6,29.9
1,Male,Black or African American,11.5,10.8,11,11.5,11.3,11.1,12.8,15.2,...,10.8,10.1,11,11.3,12.9,13.8,16.8,24,29.7,30.9
2,Male,American Indian or Alaska Native,5.7,6.1,5.9,8.2,9.4,11.2,10.8,13,...,14.2,11.8,12.9,12.8,12.9,15.9,16,17.7,19.7,21.3
3,Male,Asian or Pacific Islander,1.5,1.4,1.6,1.9,1.7,2.1,2.2,2.3,...,2.8,2.5,3.2,3.1,3.2,3.3,4.1,4.7,5.2,5.7
4,Male,Hispanic or Latino,8.6,7.1,6.7,8,8.3,7.5,8.4,9.1,...,8.2,7.6,8.1,8.5,9.2,9.3,10.9,13.9,15.9,16.6
5,Male,"White, not Hispanic or Latino",8,8.6,9.6,11.6,12.9,13.7,14.7,17.2,...,18.3,19,20.5,20.4,21.4,23.2,26.2,32.7,35.8,33.5
6,Male,"Black or African American, not Hispanic or Latino",11.5,10.9,11.2,11.7,11.6,11.4,13,15.7,...,11.1,10.5,11.3,11.6,13.3,14.2,17.3,24.7,30.8,32
7,Male,"American Indian or Alaska Native, not Hispanic...",6.7,6.7,7.5,10,12.2,14.7,14.9,17.6,...,21.5,19,20.5,20.1,19.9,25,25.8,28.3,31.5,34
8,Male,"Asian or Pacific Islander, not Hispanic or Latino",1.4,1.3,1.5,1.8,1.7,1.9,2.2,2.2,...,2.6,2.4,3,3.1,3.2,3.2,4,4.6,5.3,5.4
9,Male,"Asian, not Hispanic or Latino",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…
10,Male,"Native Hawaiian or Other Pacific Islander, not...",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…

In [215]:
# extract race
df_race2 = extract_data(df_raw_all_od_deaths, years, 'race', 52, 63, 1, 21, 'sex', 51, 0)
df_race2.head(15)

,sex,race,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Female,White,4,4.3,4.9,6.2,6.9,7.5,8,9,...,10.3,10.9,11.7,11.6,12.1,12.7,13.6,15.2,16.3,15.2
1,Female,Black or African American,3.9,4.1,4.4,5,5.2,5.5,6,6.3,...,5.6,5.7,5.9,6,6.3,7,7.5,10,11.2,11.1
2,Female,American Indian or Alaska Native,4.6,3.7,5.2,5.6,7.3,7.9,8.6,7.9,...,9.6,9.7,10.7,12.2,11.6,11.2,11.3,13.1,12.7,12.8
3,Female,Asian or Pacific Islander,1,0.8,0.8,1.1,1.2,1.1,1.3,1.4,...,1.3,1.5,1.6,1.4,1.5,1.7,1.5,1.8,2,2.1
4,Female,Hispanic or Latina,2.2,2,2.2,2.7,2.9,2.9,3,3.4,...,3.5,3.6,4,4,4.1,4.1,4.4,5,5.1,5.2
5,Female,"White, not Hispanic or Latina",4.3,4.5,5.3,6.8,7.5,8.3,8.8,10,...,11.6,12.5,13.3,13.2,13.8,14.6,15.8,17.7,19.1,17.8
6,Female,"Black or African American, not Hispanic or Latina",4,4.2,4.4,5.1,5.4,5.6,6.2,6.5,...,5.8,5.9,6.2,6.2,6.5,7.3,7.7,10.4,11.7,11.6
7,Female,"American Indian or Alaska Native, not Hispanic...",5.2,4.3,6.5,7.1,9.4,10.4,11.3,10.6,...,14,14.8,15.9,17.6,17.5,16.9,16.8,20.2,20.1,20.2
8,Female,"Asian or Pacific Islander, not Hispanic or Latina",1,0.8,0.8,1,1.2,1.1,1.3,1.5,...,1.3,1.4,1.6,1.4,1.5,1.6,1.5,1.7,1.9,2.1
9,Female,"Asian, not Hispanic or Latina",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…
10,Female,"Native Hawaiian or Other Pacific Islander, not...",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…

In [216]:
df_race = pd.concat([df_race1, df_race2], ignore_index=True)
df_race

,sex,race,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Male,White,8.1,8.4,9.2,11.1,12.2,12.6,13.6,15.7,...,16.4,16.8,18.1,18.1,19,20.4,23.2,28.8,31.6,29.9
1,Male,Black or African American,11.5,10.8,11,11.5,11.3,11.1,12.8,15.2,...,10.8,10.1,11,11.3,12.9,13.8,16.8,24,29.7,30.9
2,Male,American Indian or Alaska Native,5.7,6.1,5.9,8.2,9.4,11.2,10.8,13,...,14.2,11.8,12.9,12.8,12.9,15.9,16,17.7,19.7,21.3
3,Male,Asian or Pacific Islander,1.5,1.4,1.6,1.9,1.7,2.1,2.2,2.3,...,2.8,2.5,3.2,3.1,3.2,3.3,4.1,4.7,5.2,5.7
4,Male,Hispanic or Latino,8.6,7.1,6.7,8,8.3,7.5,8.4,9.1,...,8.2,7.6,8.1,8.5,9.2,9.3,10.9,13.9,15.9,16.6
5,Male,"White, not Hispanic or Latino",8,8.6,9.6,11.6,12.9,13.7,14.7,17.2,...,18.3,19,20.5,20.4,21.4,23.2,26.2,32.7,35.8,33.5
6,Male,"Black or African American, not Hispanic or Latino",11.5,10.9,11.2,11.7,11.6,11.4,13,15.7,...,11.1,10.5,11.3,11.6,13.3,14.2,17.3,24.7,30.8,32
7,Male,"American Indian or Alaska Native, not Hispanic...",6.7,6.7,7.5,10,12.2,14.7,14.9,17.6,...,21.5,19,20.5,20.1,19.9,25,25.8,28.3,31.5,34
8,Male,"Asian or Pacific Islander, not Hispanic or Latino",1.4,1.3,1.5,1.8,1.7,1.9,2.2,2.2,...,2.6,2.4,3,3.1,3.2,3.2,4,4.6,5.3,5.4
9,Male,"Asian, not Hispanic or Latino",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…
10,Male,"Native Hawaiian or Other Pacific Islander, not...",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…
11,Female,White,4,4.3,4.9,6.2,6.9,7.5,8,9,...,10.3,10.9,11.7,11.6,12.1,12.7,13.6,15.2,16.3,15.2
12,Female,Black or African American,3.9,4.1,4.4,5,5.2,5.5,6,6.3,...,5.6,5.7,5.9,6,6.3,7,7.5,10,11.2,11.1
13,Female,American Indian or Alaska Native,4.6,3.7,5.2,5.6,7.3,7.9,8.6,7.9,...,9.6,9.7,10.7,12.2,11.6,11.2,11.3,13.1,12.7,12.8
14,Female,Asian or Pacific Islander,1,0.8,0.8,1.1,1.2,1.1,1.3,1.4,...,1.3,1.5,1.6,1.4,1.5,1.7,1.5,1.8,2,2.1
15,Female,Hispanic or Latina,2.2,2,2.2,2.7,2.9,2.9,3,3.4,...,3.5,3.6,4,4,4.1,4.1,4.4,5,5.1,5.2
16,Female,"White, not Hispanic or Latina",4.3,4.5,5.3,6.8,7.5,8.3,8.8,10,...,11.6,12.5,13.3,13.2,13.8,14.6,15.8,17.7,19.1,17.8
17,Female,"Black or African American, not Hispanic or Latina",4,4.2,4.4,5.1,5.4,5.6,6.2,6.5,...,5.8,5.9,6.2,6.2,6.5,7.3,7.7,10.4,11.7,11.6
18,Female,"American Indian or Alaska Native, not Hispanic...",5.2,4.3,6.5,7.1,9.4,10.4,11.3,10.6,...,14,14.8,15.9,17.6,17.5,16.9,16.8,20.2,20.1,20.2
19,Female,"Asian or Pacific Islander, not Hispanic or Latina",1,0.8,0.8,1,1.2,1.1,1.3,1.5,...,1.3,1.4,1.6,1.4,1.5,1.6,1.5,1.7,1.9,2.1
20,Female,"Asian, not Hispanic or Latina",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…
21,Female,"Native Hawaiian or Other Pacific Islander, not...",…,…,…,…,…,…,…,…,...,…,…,…,…,…,…,…,…,…,…

In [217]:
pd.set_option('future.no_silent_downcasting', True)

In [218]:
def convert_to_tables(df_age, df_race):
    # Replace ellipses with NaN
    df_age = df_age.replace("…", np.nan)

    # Replace ellipses with NaN
    df_race = df_race.replace("…", np.nan)

    # Melt the year columns into a table
    table_age = df_age.melt(
        id_vars=["sex", "age_group"],
        var_name="year",
        value_name="rate"
    )

    # Melt the year columns into a table
    table_race = df_race.melt(
        id_vars=["sex", "race"],
        var_name="year",
        value_name="rate"
    )

    # Convert types
    table_age["year"] = pd.to_numeric(table_age["year"], errors="coerce")
    table_age["rate"] = pd.to_numeric(table_age["rate"], errors="coerce")

    # Convert types
    table_race["year"] = pd.to_numeric(table_race["year"], errors="coerce")
    table_race["rate"] = pd.to_numeric(table_race["rate"], errors="coerce")

    return [table_age, table_race]

In [219]:
[t_age, t_race] = convert_to_tables(df_age, df_race)

In [220]:
t_age

             sex          age_group  year  rate
0    All persons     Under 15 years  1999   0.1
1    All persons        15–24 years  1999   3.2
2    All persons        25–34 years  1999   8.1
3    All persons        35–44 years  1999  14.0
4    All persons        45–54 years  1999  11.1
..           ...                ...   ...   ...
535       Female        45–54 years  2018   NaN
536       Female        55–64 years  2018   NaN
537       Female        65–74 years  2018   NaN
538       Female        75–84 years  2018   NaN
539       Female  85 years and over  2018   NaN

[540 rows x 4 columns]

In [221]:
t_race

        sex                                               race  year  rate
0     Male                                               White  1999   8.1
1     Male                           Black or African American  1999  11.5
2     Male                    American Indian or Alaska Native  1999   5.7
3     Male                           Asian or Pacific Islander  1999   1.5
4     Male                                  Hispanic or Latino  1999   8.6
..      ...                                                ...   ...   ...
435  Female  Black or African American, not Hispanic or Latina  2018  11.6
436  Female  American Indian or Alaska Native, not Hispanic...  2018  20.2
437  Female  Asian or Pacific Islander, not Hispanic or Latina  2018   2.1
438  Female                      Asian, not Hispanic or Latina  2018   NaN
439  Female  Native Hawaiian or Other Pacific Islander, not...  2018   NaN

[440 rows x 4 columns]